@{
  Layout = "_Layout";
}

<h1>Parcel Delivery</h1>
<form action="/parcel/create" method="post">
  <label for="new-width">Add your parcel's width:</label>
  <input id="new-width" name="new-width" type="number">

  <label for="new-length">Add your parcel's length:</label>
  <input id="new-length" name="new-length" type="number">

  <label for="new-height">Add your parcel's height:</label>
  <input id="new-height" name="new-height" type="number">

  <label for="new-height">Add your parcel's weight:</label>
  <input id="new-weight" name="new-weight" type="number">

  <button type="submit">Submit</button>
</form>
